*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
    display: grid;
    place-items: center;
    border: solid 5px orange;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(80, 37, 37, 0.1);
    color: white;
}

body{
    background: linear-gradient(rgb(168, 178, 180), darkblue);
    height: 100vh;
    
}


@media (min-width:300px){
    .begin{
        display: grid;
        /* grid-template-rows: auto 1fr auto; */
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        height: 90vh;
        width: 90%;
        margin: 20px auto; 
        grid-template-areas: 
    
        "h h h h  h h h h  h h h h"
        "b b b b  b b b b  b b b b"
        "m m m m  m m m m  m m m m"
        "s s s s  s s s s  s s s s"
        "f f f f  f f f f  f f f f";
    }
    
    .begin .box-1{
        grid-area: h;
    }
    
    .begin .box-2{
        grid-area: b;
    }
    
    .begin .box-3{
        grid-area: m;
    }
    
    .begin .box-4{
        grid-area: s;
    }
    
    .begin .box-5{
        grid-area: f;
    }
    }

@media (min-width:420px){
.begin{
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    height: 90vh;
    width: 90%;
    margin: 20px auto; 
    grid-template-areas: 

    "h h h h  h h h h  h h h h"
    "b b m m  m m m m  m m s s"
    "b b m m  m m m m  m m s s"
    "b b m m  m m m m  m m s s"
    "f f f f  f f f f  f f f f";
}

.begin .box-1{
    grid-area: h;
}

.begin .box-2{
    grid-area: b;
}

.begin .box-3{
    grid-area: m;
}

.begin .box-4{
    grid-area: s;
}

.begin .box-5{
    grid-area: f;
}
}

@media (min-width:768px) {
    .begin{
        display: grid;
        /* grid-template-rows: auto 1fr auto; */
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        height: 90vh;
        width: 90%;
        margin: 20px auto; 
        grid-template-areas: 
        
        "h h h h  h h h h  h h h h"
        "b b b b  m m m m  m m m m"
        "b b b b  m m m m  m m m m"
        "s s s s  m m m m  m m m m"
        "s s s s  f f f f  f f f f";
    }
    
.begin .box-1{
    grid-area: h;
}

.begin .box-2{
    grid-area: b;
}

.begin .box-3{
    grid-area: m;
}

.begin .box-4{
    grid-area: s;
}

.begin .box-5{
    grid-area: f;
}

    
}

/* .begin .box-1{
    grid-column: span2;
}

.begin .box-2{
    grid-column: span6;
}

.begin .box-3{
    grid-column: span4;
} */