 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  body{
    background-color: whitesmoke;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
  }

 
  .result-summary{
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 360px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
  }

.component-left{
    width: 275px;
    height: 360px;
    border-radius: 20px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: center; 
   padding: 25px 0 ; 
    align-items: center;
}

.component-left>h5{
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    margin-left: 170px;
}

.left-circle>h2{
    color: hsl(0, 0%, 100%);
    font-size: 60px;
    font-weight: 800;
 
}

.left-circle p{
    color: hsl(240, 2%, 58%);
   font-size: 14px;
   
}

.left-circle{
  display: flex;
  flex-direction: column;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    justify-content: center;
    padding: 30px;
    
}

.component-left>h2{
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  font-weight: 600;
  margin-left: 200px;
}

.component-left>p{
  color: hsl(241, 100%, 89%);
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px;
  text-align: center;
}

.component-right{
    width: 275px;
    height: 360px;
    border-radius: 0 20px 20px 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 25px 0 ; 
    align-items: center;
}

 .component-right .hfive h5{
  color: hsl(224, 30%, 27%);
  font-size: 20px;
  margin-left: 35px;
}

img{
  height: 20px;
  width: 20px;
}

.rImage{
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100px;
  align-items: center;
  gap: 10px;
  margin-left: 7px;
}

#rText{
  color: hsl(0, 100%, 67%);
  margin-top: 12px;
  margin-left: px; 
  text-align: center;
  font-size: 14px;
}

.rCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: rgb(243, 215, 215);
  border-radius: 8px;
}

.rCard h6{
  color: hsl(224, 30%, 27%);
 text-align: right;
 margin-top: 25px;
 margin-right: 10px;
}

.rCard h6 b{
  color: hsl(233, 15%, 54%);
}

#cards{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: 200px;
  /* background: rgb(78, 78, 78); */
  margin-top: -30px;
  

}

#mText{
  color: hsl(39, 100%, 56%);
  margin-top: 12px;
  margin-left: px; 
  text-align: center;
  font-size: 14px;
}

.mCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: hsl(38, 29%, 83%);
  border-radius: 8px;
}

.mCard h6{
  color: hsl(224, 30%, 27%);
 text-align: right;
 margin-top: 25px;
 margin-right: 10px;
}

.mCard h6 b{
  color: hsl(233, 15%, 54%);
}

#vText{
  color: hsl(166, 100%, 37%);
  margin-top: 12px;
  margin-left: px; 
  text-align: center;
  font-size: 14px;
}

.vCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: hsl(167, 29%, 88%);
  border-radius: 8px;
}

.vCard h6{
  color: hsl(224, 30%, 27%);
 text-align: right;
 margin-top: 25px;
 margin-right: 10px;
}

.vCard h6 b{
  color: hsl(233, 15%, 54%);
}

#viText{
  color: hsl(224, 30%, 27%);
  margin-top: 12px;
  margin-left: px; 
  text-align: center;
  font-size: 14px;
}

.viCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background: hsl(221, 100%, 96%);
  border-radius: 8px;
}

.viCard h6{
  color: hsl(224, 30%, 27%);
 text-align: right;
 margin-top: 25px;
 margin-right: 10px;
}

.viCard h6 b{
  color: hsl(233, 15%, 54%);
}

.btn{
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 50px;
  background: hsl(224, 30%, 27%);
  color: white;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 35px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn:hover{
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


@media (max-width: 435px) {

  body{
    background-color: whitesmoke;
    display: flex;
    margin-top: px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
    
  }

  .result-summary{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 800px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 0px;
  }

  .component-left{
    width: 375px;
    height: 350px;
    border-radius: 0 0 20px 20px ;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: center; 
   padding: 25px 0 ; 
    align-items: center;
}

.component-left>h5{
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    margin-left: 295px;
}

.left-circle>h2{
    color: hsl(0, 0%, 100%);
    font-size: 60px;
    font-weight: 800;
 
}

.left-circle p{
    color: hsl(240, 2%, 58%);
   font-size: 14px;
   
}

.left-circle{
  display: flex;
  flex-direction: column;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
    
}

.component-left>h2{
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  font-weight: 600;
  margin-left: 300px;
  
}

.component-left>p{
  color: hsl(241, 100%, 89%);
  font-size: 16px;
  font-weight: 400;
  padding: 0 60px;
  text-align: center;
}

.component-right{
  width: 375px;
  height: 450px;
  border-radius: 0 20px 20px 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 25px 0 ; 
  align-items: center;
}

.component-right .hfive h5{
color: hsl(224, 30%, 27%);
font-size: 20px;
margin-left: 35px;
}

img{
height: 30px;
width: 30px;
}

.rImage{
display: flex;
flex-direction: row;
height: 40px;
width: 120px;
align-items: center;
gap: 10px;
margin-left: 7px;
}

#rText{
color: hsl(0, 100%, 67%);
margin-top: 15px;
margin-left: px; 
text-align: center;
font-size: 18px;
}

.rCard{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 60px;
width: 320px;
background: rgb(243, 215, 215);
border-radius: 8px;
}

.rCard h6{
color: hsl(224, 30%, 27%);
text-align: right;
margin-top: 40px;
margin-right: 10px;
}

.rCard h6 b{
color: hsl(233, 15%, 54%);
}

#cards{
display: flex;
flex-direction: column;
gap: 15px;
height: 250px;
width: 320px;
margin-top: 20px;


}

#mText{
color: hsl(39, 100%, 56%);
margin-top: 15px;
margin-left: px; 
text-align: center;
font-size: 18px;
}

.mCard{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 60px;
width: 320px;
background: hsl(38, 29%, 83%);
border-radius: 8px;
}

.mCard h6{
color: hsl(224, 30%, 27%);
text-align: right;
margin-top: 40px;
margin-right: 10px;
}

.mCard h6 b{
color: hsl(233, 15%, 54%);
}

#vText{
color: hsl(166, 100%, 37%);
margin-top: 15px;
margin-left: px; 
text-align: center;
font-size: 18px;
}

.vCard{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 60px;
width: 320px;
background: hsl(167, 29%, 88%);
border-radius: 8px;
}

.vCard h6{
color: hsl(224, 30%, 27%);
text-align: right;
margin-top: 40px;
margin-right: 10px;
}

.vCard h6 b{
color: hsl(233, 15%, 54%);
}

#viText{
color: hsl(224, 30%, 27%);
margin-top: 15px;
margin-left: px; 
text-align: center;
font-size: 18px;
}

.viCard{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 60px;
width: 320px;
background: hsl(221, 100%, 96%);
border-radius: 8px;
}

.viCard h6{
color: hsl(224, 30%, 27%);
text-align: right;
margin-top: 40px;
margin-right: 10px;
}

.viCard h6 b{
color: hsl(233, 15%, 54%);
}

.btn{
height: 60px;
width: 320px;
border: none;
border-radius: 50px;
background: hsl(224, 30%, 27%);
color: white;
font-size: 20px;
font-weight: 600;
margin-left: 30px;
margin-top: 50px;
cursor: pointer;
transition-duration: 0.4s;
}





}

